body {
    background-color: wheat
}


/*Before*/

q::before {
    content: "«";
    color: red;
}

q::after {
    content: "»";
    color: blue;
}


/*first-letter: Primera letra*/

li::first-letter {
    color: rgb(247, 0, 0);
    font-size: 130%;
}


/*first-line: Primera linea de un parrafo*/

li::first-line {
    color: rgb(0, 47, 255);
}