body {
    background-color: wheat
}


/*mouse encima sin dar click*/

button:hover {
    background-color: lightcoral;
}

a:hover {
    background-color: goldenrod;
}


/*cuando se oprime click*/

button:active {
    background-color: lightskyblue;
}


/*index*/

article p:first-child {
    color: lime;
    background-color: black;
    padding: 5px;
}

article p:last-child {
    color: red;
    background-color: black;
    padding: 5px;
}


/*representa cualquier radio (<input type="radio">), 
checkbox (<input type="checkbox">) 
u option (<option> en un elemento <select>) que está marcado o conmutado a un estado on.*/

input:checked+label {
    color: red;
}


/*input:focus: cambia lo que este dentro del input*/

input:focus {
    background-color: cornflowerblue;
}


/*input: range input:out-of.range*/

input:in-range {
    background-color: rgba(0, 255, 0, 0.25);
}

input:out-of-range {
    background-color: rgba(255, 0, 0, 0.25);
}

input:in-range+label::after {
    content: 'bien.';
}

input:out-of-range+label::after {
    content: 'fuera de rango!';
}


/*:only-child: representa un elemento sin hermanos*/

main :only-child {
    color: red;
}


/*a:link  a:any-link*/

li a:any-link {
    color: red;
}

li a:link {
    color: green;
}


/*representa cualquier elemento <input> 
u otro elemento <form> cuyos contenidos no se puedan validar.*/

.input input:invalid {
    background-color: #ffdddd;
}

.input form:invalid {
    border: 5px solid #ffdddd;
}

.input input:valid {
    background-color: #ddffdd;
}

.input form:valid {
    border: 5px solid #ddffdd;
}

.input input:required {
    border-color: #800000;
    border-width: 3px;
}

.input input:required:invalid {
    border-color: #C00000;
}


/*este es complicado*/

.nth :nth-child(2n+1) {
    background-color: rgb(28, 189, 162);
}

.nth:nth-child(2n) {
    background-color: rgb(106, 105, 146);
}